.page.theme-light {
    --background-color-main: #fff;
    --accent-color: #000;
    --font-w-title: 785;
    --font-w-text: 400;
}

.page.theme-dark {
    --background-color-main: #000;
    --accent-color: #00cc14;
    --background-image: var(--background-image-dark);
    --background-color-light: var(--background-color-dark);
    --button-text-color: #00cc14;
    --font-w-title: 785;
    --font-w-text: 465;
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent-color: #00cc14;
        --background-color-main: #000;
        --background-image: var(--background-image-dark);
        --background-color-light: var(--background-color-dark);
        --button-text-color: #00cc14;
        --font-w-title: 785;
        --font-w-text: 465;
    }
}
